.page {
	padding-top: 100px;

	@media (max-width: 1000px) {
		padding-top: 50px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@media (max-width: 1000px) {
		gap: 10px;
	}
}

.name {
	font-family: Nunito;
	font-weight: 800;
	font-size: 64px;
	text-align: left;
	color: #1b0b37;
	transition: 0.2s;

	@media (max-width: 1000px) {
		text-align: center;
	}

	@media (max-width: 770px) {
		white-space: normal;
		line-height: 100%;
	}

	@media (max-width: 700px) {
		font-size: 48px;
	}

	@media (max-width: 500px) {
		font-size: 32px;
	}
}

.br {
	display: none;

	@media (max-width: 770px) {
		display: block;
	}
}

.button {
	padding: 25px 30px;
	background-color: #f2594b;
	border-radius: 8px;
	cursor: pointer;
	color: #ffffff;
	transition: background-color 0.2s ease;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
	width: min-content;
	font-family: Mulish;
	margin: 0 auto;

	@media (max-width: 500px) {
		width: calc(100% - 20px);
		margin: unset;
		text-align: center;
	}
}
