.breadcrumbs {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #1b0b37;
	gap: 4px;
	flex-wrap: wrap;
	font-family: Mulish;
	font-weight: 200;
}

.link {
	color: #1b0b37;
	text-decoration: none;
	transition: color 0.2s;
}

.separator {
	margin: 0 4px;
	color: #1b0b37;
}

.active {
	position: relative;
	color: #1b0b37;
	font-weight: 600;
	cursor: default;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		width: 100%;
		height: 1px;
		background-color: #1b0b37;
		border-radius: 1px;
	}
}
