.page {
	display: flex;
	flex-direction: column;
	gap: 50px;

	@media (max-width: 700px) {
		gap: 30px;
	}
}

.content {
	display: flex;
	flex-direction: row;
	gap: 40px;

	@media (max-width: 1190px) {
		width: calc(100% - 20px);
	}

	@media (max-width: 1000px) {
		flex-direction: column;
	}
}

.name {
	font-family: Nunito;
	font-weight: 800;
	font-size: 64px;
	text-align: left;
	color: #1b0b37;
	transition: 0.2s;
	line-height: 100%;

	@media (max-width: 1000px) {
		text-align: center;
	}

	@media (max-width: 770px) {
		white-space: normal;
		line-height: 100%;
	}

	@media (max-width: 700px) {
		font-size: 48px;
	}

	@media (max-width: 500px) {
		font-size: 32px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 20px;
}
