.slider {
	position: relative;
	width: 850px;
	height: 600px;
	margin: 0 auto;
	border-radius: 50px;

	@media (max-width: 1000px) {
		width: 100%;
		margin: none;
	}

	@media (max-width: 900px) {
		height: 520px;
	}

	@media (max-width: 850px) {
		height: 480px;
	}

	@media (max-width: 750px) {
		height: 300px;
	}

	@media (max-width: 550px) {
		height: 550px;
	}
}

.track {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slide {
	position: absolute;
	width: 100%;
	height: 90%;
	transition: all 0.4s ease;
	opacity: 0;
	visibility: hidden;
	transform-style: preserve-3d;
	filter: blur(5px);

	&.center {
		transform: translateX(0) scale(1);
		opacity: 1;
		filter: blur(0);
		visibility: visible;
		z-index: 3;
	}

	&.left {
		transform: translateX(-320px) scale(0.75) rotateY(30deg);
		opacity: 0.6;
		visibility: visible;
		z-index: 2;
	}

	&.right {
		transform: translateX(320px) scale(0.75) rotateY(-30deg);
		opacity: 0.6;
		visibility: visible;
		z-index: 2;
	}
}

.arrow {
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 10;
	transform: translateY(-50%);
	transition: 0.2s;
	border: none;
	background: none;

	img {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
	}

	&.prev {
		left: -24px;
		transform: rotate(180deg);
	}
	&.next {
		right: -24px;
	}
}

.dots {
	position: absolute;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 8px;
	z-index: 10;
	transition: 0.2s;
}

.dot {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #ffffff;
	border: none;
	cursor: pointer;
	transition: 0.2s;

	&.active {
		background: #f2594b;
		transition: 0.2s;
	}
}

.buttonsBlock {
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;

	@media (max-width: 1299px) {
		width: 80%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media (max-width: 1000px) {
		display: none;
	}
}

.sliderWrapper {
	width: 100%;
	position: relative;

	@media (max-width: 1299px) {
		width: calc(100% - 20px);
	}
}
